.ResultsSection{
    background-color: #eee;
}


.card.selected{
    .card-header{
        background-color: rgb(255, 127, 23);
}
    height: 76%;
    display: flex;
}

.card-header{
    background-color: #1e90ff46;
}
