.results.side-bar {
    background-color: #eee;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .card.selected {
        &>.card-header {
            background-color: rgb(92, 218, 46);
        }
        .results-section-body {
            max-height: 83vh;
            overflow-y: auto;
        }
    }
    .card-header {
        background-color: #1e90ff46;
    }
}
